article {
  display: inline-block;
  width: 100%;
  transition: box-shadow 0.5 ease;
  margin: 40px 10px 0px 10px;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

article > img {
  width: inherit;
  border-radius: 5px 5px 0 0 ;
}

article > p {
  margin: 10px 15px;
}

article:hover {
  box-shadow: 0px 5px 5px rgb(0,0,0, 0.25);
}