body {
  margin: 0px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 22px;
  box-shadow: 1px 2px 5px rgb(0,0,0, 0.3);
  position: relative;
  z-index: 2;
}

header input {
  outline: none;
  border: 1px solid #eee;
  padding: 10px 5px;
  border-radius: 5px;
}